<div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
        <label class="mat-display-2 ml-h1">
            Was kostet mein Meeting gerade?
        </label>

        <div fxLayoutGap="6px" fxLayout="column" fxLayoutAlign="top center">
            <label class="mat-h4 ml-h4">
                Idea: Bengt Brodersen | Development: Moritz Lüdtke
            </label>
        </div>
    </div>

    <app-main-calc></app-main-calc>

    <div class="fixed-footer">
        <mat-label class="mat-h4 footer-text">
            v{{ appVersionService.getAppVersion() }}
        </mat-label>
    </div>
</div>
