<div fxLayout="row" fxLayoutGap="48px" fxLayoutAlign="center top">

    <mat-card class="mat-elevation-z10" style="width: 260px; padding: 36px">
        <h2 fxLayoutAlign="center" style="margin-bottom: 24px;">Teilnehmer</h2>

        <div fxLayout="column" fxLayoutGap="14px">
            <div *ngFor="let job of JOB_LIST | keyvalue">
                <mat-grid-list cols="8">
                    <mat-grid-tile colspan="5">

                        <label class="left-aligned-text-in-mat-grid-tile">{{ job.key.jobTitel }}</label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="primary" (click)="subtractTeilnehmerFromJob(job.key)">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <label>{{ job.value }}</label>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button mat-icon-button color="primary" (click)="addTeilnehmerToJob(job.key)">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <button mat-raised-button color="primary" (click)="resetAllTeilnehmer()">Zurücksetzen</button>
        </div>
    </mat-card>

    <div fxLayout="column" fxLayoutGap="24px">
        <mat-card class="mat-elevation-z10" style="width: 260px; padding: 36px">
            <h2 fxLayoutAlign="center" style="margin-bottom: 24px;">Meetingdauer</h2>

            <mat-grid-list cols="8">
                <mat-grid-tile colspan="5">

                    <label class="left-aligned-text-in-mat-grid-tile">Dauer</label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-icon-button color="primary" (click)="subtractMeetingdauerInIncrements()">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                </mat-grid-tile>

                <mat-grid-tile>
                    <label>{{ meetingdauer }}</label>
                </mat-grid-tile>

                <mat-grid-tile>
                    <button mat-icon-button color="primary" (click)="addMeetingdauerInIncrements()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="width: 260px; height: 125px; padding: 36px">
            <h2 fxLayoutAlign="center" style="margin-bottom: 24px;">Kosten</h2>

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6px">
                <label class="ml-largeText">{{ meetingkosten | number: "1.0-2" }} €</label>
                <label style="font-style: italic; font-size: 0.7em">Gehalt und weitere Kosten</label>
            </div>
        </mat-card>
    </div>

</div>
